<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <title>Get Msgs</title>
</head>
<body>
<fieldset><legend>Get Msg Test Box</legend>
<form action="/getmsgs" method="POST">
    <table>
        <tr>
            <th>Parameter Name</th>
            <th>Inputbox</th>
        </tr>
        <tr>
            <td>localMaxNumber</td>
            <td><input type="text" name="localMaxNumber" /></td>
        </tr>
    </table>
    <p>
        <button type="submit">Submit this localMaxNumber</button>
    </p>
</form>
</fieldset>
</body>
</html>