<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/chatRoom.css">
        <script type="text/javascript" src="/static/js/jquery-1.12.3.min.js"></script>
        <script type="text/javascript" src="/static/js/json2.js"></script>
        <script type="text/javascript" src="/static/js/chatRoom2.js"></script>
        <title>Chat Room</title>
    </head>
    <body>
        <div id="main">
            <div id="leftBlock">
                <ul>
                    <li onmouseover="style.background='#00ffff'"
                        onmouseout="style.background='#3399ff'">
                        <img src="/static/img/chathead.jpg">西交聊天室
                    </li>
                    <li onmouseover="style.background='#00ffff'"
                        onmouseout="style.background='#3399ff'">
                        <img src="/static/img/chathead.jpg">清华聊天室
                    </li>
                    <li onmouseover="style.background='#00ffff'"
                        onmouseout="style.background='#3399ff'">
                        <img src="/static/img/chathead.jpg">上交聊天室
                    </li>
                </ul>
            </div>
            <div id="topBlock"><h2>西交聊天室</h2></div>
            <div id="textList"></div>
            <div id="textBottom" class="textStyle">
                <div id="textInput" class="textStyle">
                    <textarea id="textArea" name="myText"  onpropertychange="
                        if(this.scrollHeight>80) this.style.posHeight=this.scrollHeight+5"> </textarea>                        
                </div>
                <input type="text" id="username">hehe</input>
                <input type="button" id="send" value="发送">
                <input type="button" id="delete" value="清空">
            </div>
        </div>
        
    </body>
</html>